# Environments and cache
.venv/
venv/
__pycache__/
*.pyc
jax_cache/
.pytest_cache/
.vscode/

# System files
.DS_Store
.ipynb_checkpoints/

# OpenMDAO temporary output folders (Surgical Cleanup)
*_out/
problem*/
coloring_files/
*.pkl
*.sql

# Build and distribution
dist/
build/
*.egg-info/

# Results and artifacts
/src/results/**/*
!/src/results/GWP/.gitkeep
!/src/results/TOC/.gitkeep

# Ignore generated reports
*.xlsx
*.html